@using VirtualLibrary.Web.ViewModels.Book
@model InputBookModel

<form method="post" asp-controller="Book" asp-action="Create">
    <div>
        <input class="form-control" asp-for="Title" />
    </div>
    <div>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>
    <div>
        <input class="form-control" asp-for="ReleaseDate" />
    </div>
    <div>
        <input class="form-control" asp-for="AuthorName" />
    </div>
    <div>
        <button type="submit">Create</button>
   </div>
</form>