@using VirtualLibrary.Web.ViewModels.Book
@model IEnumerable<DisplayBookModel>
@{ this.ViewData["Title"] = "Home Page"; }

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Type a title" />
        <input type="submit" value="Search" />
    </p>
</form>

<h2>Our Books</h2>

@foreach (var book in Model)
{
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <img class="rounded" height="200" width="200" src="@book.Image" alt="Image" />
        </div>
        <div class="col-md-3">
            <h3>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
            </h3>
        </div>
    </div>
}
