@using VirtualLibrary.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Book" asp-action="Create">Create Book</a>
    <a asp-controller="Genre" asp-action="Create">Create Genre</a>
    <a asp-controller="Author" asp-action="Create">Create Author</a>
</div>
